# ==========================================
# MongoDB
# ==========================================

MONGO_USERNAME=admin
MONGO_PASSWORD=CHANGE_ME
MONGO_DATABASE=video-library
MONGO_PORT=27017


# ==========================================
# MongoExpress
# ==========================================

MONGO_EXPRESS_USERNAME=CHANGE_ME
MONGO_EXPRESS_PASSWORD=CHANGE_ME


# ==========================================
# Backend
# ==========================================

BACKEND_PORT=8080

JWT_SECRET=CHANGE_ME
JWT_EXPIRATION=3600000

FRONTEND_URL=http://<MACHINE_IP>:<FRONTEND_PORT>


# ==========================================
# Frontend
# ==========================================

FRONTEND_PORT=5173
VITE_API_URL=http://<MACHINE_IP>:<BACKEND_PORT>/api


# ==========================================
# YouTube Harvester Microservice
# ==========================================

MICROSERVICE_PORT=8000
YOUTUBE_DATA_API_KEY=CHANGE_ME
